@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$very-dark-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

html {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

body {
    margin: 0;
    display: grid;
    place-content: center;
    height: 100%;
    width: 1440px;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: $light-grayish-blue;
}

.container {
    width: 60vw;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: fit-content(350px) fit-content(450px);
    background-color: $white;
    height: auto;
    &_image {
        height: auto;
        img.drawers {
            height: auto;
            max-width: 100%;
            border-radius: 1rem 0 0 1rem;
            object-fit: cover;
            object-position: 0%;
        }
    }
}

section {
    padding: 2rem;
    h1 {
        color: $very-dark-blue;
    }
    p {
        color: $desaturated-dark-blue;
    }
    .info {
        display: grid;
        grid-template-columns: auto 1fr auto;
        & > img {
            grid-row: 1 / 3;
            width: 3rem;
            height: auto;
            border-radius: 50%;
        }
        h3 {
            margin: 0;
            grid-row: 1 / 2;
            color: $very-dark-blue;
        }
        span {
            grid-row: 2 / 3;
            color: $desaturated-dark-blue;
        }
        button#share-button {
            grid-row: 1 / 3;
            border: none;
            border-radius: 50%;
            background-color: $light-grayish-blue;
        }
    }
}

#share-modal {
    display: none;
}