@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

$very-dark-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white: hsl(0, 0%, 100%);

html {
    height: 100%;
    width: 100%;
    display: grid;
    place-content: center;
}

body {
    margin: 0;
    display: grid;
    place-content: center;
    height: 100%;
    width: 1440px;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: $light-grayish-blue;
}

.container {
    min-width: 700px;
    width: 60vw;
    min-height: 40vh;
    height: auto;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: $white;
    &_image {
        height: auto;
        border-radius: 1rem 0 0 1rem;
        background-image: url('/images/drawers.jpg');
        background-size: auto 100%;
        background-position: 15%;
    }
}

section {
    padding: 2rem;
    height: auto;
    display: grid;
    gap: 1rem;
    h1 {
        color: $very-dark-blue;
        margin: 0;
        font-size: 1.4rem;
    }
    p {
        color: $desaturated-dark-blue;
        margin: 0;
        line-height: 1.5rem;
    }
    .info {
        height: 3rem;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-column-gap: 1rem;
        & > img {
            grid-row: 1 / 3;
            width: 3rem;
            height: auto;
            border-radius: 50%;
        }
        h3 {
            margin: 0;
            grid-row: 1;
            color: $very-dark-blue;
        }
        span {
            grid-row: 2;
            color: $desaturated-dark-blue;
        }
        button#share-button {
            grid-row: 1 / 3;
            border: none;
            border-radius: 50%;
            background-color: $light-grayish-blue;
        }
    }
}

#share-modal {
    display: none;
}